*{margin: 0px; box-sizing: border-box;}
body{font-size: 14px; font-family: Arial, Helvetica, sans-serif;}


.container{max-width: 1400px; margin:0px auto !important}
.d-flex{display: flex;}
.space-between{justify-content: space-between; align-items: center;}
a{text-decoration: none!important;}


/*-----------------------*/

header{padding: 15px 0px; border-bottom: solid 1px rgba(00, 00, 00, 0.1);}
header .col-header a{padding-right: 15px; font-size: 14px; color:rgba(00, 00, 00, 0.7);}
header .col-header .sec-list::after{content: ''; height: 1.5px;background-color: rgba(00, 00, 00, 0.5);display: inline-block;width: 20px; margin-left: 15px;margin-bottom: 3px;}
header .col-header .sec-list1::after{content: ''; height: 1.5px;background-color: rgba(00, 00, 00, 0.5);display: inline-block;width: 2.5px; margin-left: 10px;}
header .col-header a:hover {color: blue;}
/*------------------------*/


.logo-area{padding:30px 0px;}
.search-field{background-color:#eee; padding:8px 10px; border-radius: 50px;}
.inner-area{display: inline-flex;}
button{border:none; padding:5px 50px; outline: 0; background-color: #eee; font-size:15px;}
input{border:none; padding:8px 50px; outline: 0; background-color: #eee; font-size:14px;}
.inner-area button{display: inline-block;font-size:15px; font-weight: 600;}
.inner-area input{display: inline-block; width:500px; margin-left: -50px;margin-top: 3px;}
.dropdown button i{background-color: white;color: #064acb; display: inline-block; width:25px; height:25px; border-radius:100px; line-height: 27px; margin-right: 10px;margin-left: -50px;}
.input-field i {margin-right: 10px; color: #064acb; }
.inner-area .sec-list2::after{content: ''; height: 15px;background-color: rgba(00, 00, 00, 0.5);display: inline-block;width: 1.5px; margin-left: 50px;}


.cart ul{list-style: none; display: inline-flex; padding: 0px;}
.cart li{position: relative;}
.cart ul li{font-size: 15px;padding: 0px 10px;}
.cart li span{background-color: orange; position: absolute;top: -5px; width: 15px; height: 15px;
     text-align: center; line-height: 15px; font-size: 12px;border-radius: 15px;}

/*-------------------*/

.navbar{background-color: #064acb; color: white;}
.menu ul{list-style: none; display: inline-flex;padding: 0px}
.menu ul li a{text-decoration: none; padding: 20px 0px; color: #eee; display: inline-block; margin-left: 15px;}
.menu ul li:nth-child(1) a{margin: 0px;}
.menu ul li i{padding: 20px 3px;}
.menu ul li ul{display: none; position: absolute; background-color:whitesmoke; padding: 10px; min-width: 150px;}
.menu ul li:hover ul{display: block;}
.menu ul li ul li a{padding: 10px; color: black;}
.menu ul li ul li:hover a{ color: #064acb;} 

.contact-detail{display: inline-flex;}
.contact-logo i{padding: 0px 40px;}
.details ul{list-style: none; padding: 0px; } 
.details ul li:nth-child(1) a{margin: 0px;}




/*--------------------------------*/
